services:
  art-frontend:
    build: 
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8381:80"
      - "4944:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

